.profile{
    width: 100%;
    height: 20%
}

.experience{
    width: 100%;
    height: 30%;
}

.experienceTitle{
    background-color: cadetblue;
}

.profileTitle{
    background-color: cadetblue;
}

.studies{
    width: 100%;
    height: 30%;
}

.studiesTitle{
    background-color: cadetblue;
}

.skills{
    width: 100%;
    height: 20%;
}

ul>li{
    list-style: none;
}

.list-group>.list-group-item{
    background-color: azure;
}

.list-group>.list-group-item>div>.card{
    background-color: whitesmoke;
}