@page "/Skills"
@inject IStringLocalizer<InterfaceConstants> localizer
@inject HttpClient httpClient

<PageTitle>@localizer["skills"]</PageTitle>

@if (skills is null)
{
    <p>@localizer["loading"]</p>
}
else
{
    <SkillCard Title=@localizer["programmingLanguages"] Skills=@skills.ProgrammingLanguages />
    <SkillCard Title=@localizer["programmingTools"] Skills=@skills.ProgrammingTools />
    <SkillCard Title=@localizer["dataAccess"] Skills=@skills.DataAccess />
    <SkillCard Title=@localizer["other"] Skills=@skills.Other />
}

@code {
    private SkillsModel? skills;

    protected override async Task OnInitializedAsync()
    {
        var lang = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
        skills = await httpClient.GetFromJsonAsync<SkillsModel>($"sample-data/skills-{lang}.json");
    }
}