<div class="jumbotron py-2">
    <h1 class="display-3">@Title</h1>
    <p class="lead  ">@Description</p>
</div>

@code {
    [Parameter] 
    public string? Title { get; set; }
    
    [Parameter] 
    public string? Description { get; set; }
}