<div class="badge-baseov LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="mariano-montano" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://ar.linkedin.com/in/mariano-montano/en?trk=profile-badge">Mariano Montano</a></div>

@code {
    
}